<!DOCTYPE html>
<html>
  <head>
    <title>Your Name - Profile</title>
    <script src="script/jquery.js"></script>
    <script src="js/userp.js"></script>
    <script src="template/import_navbar.js"></script>
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <h1>Your profile</h1>
    <div class="profile-info">
      <div id="infos"></div>
      <p id="check" style="color: #eee !important;" class="text--center"></p>
      <a href="/login" id="aa"></a>
      <div>
        <button onclick="location.href='/userp/todos'">View To-Do List</button>
        <button onclick="location.href='/upuser'">Modify Account</button>
        <button onclick="location.href='/deluser'">Delete Account</button>
        <button onclick="logout()">Logout</button>
      </div>
    </div>
  </body>
</html>